@import "variables";
@import "mixins";

body {
  background-color: #ffffff;
  color: black;
  font-family: $font-secondary;
}

.project {
  max-width: 1400px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    margin: 50px 0;
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    .project__title {
      @include font-style(25px, bold, 1.3, $color-title);
      font-family: $font-primary;
      font-style: italic;
      letter-spacing: -1px;
      //   text-align: center;
    }
    .wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;

      .project__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 300px;
        width: 100%;
        height: auto;
        gap: 30px;
        padding: 2px;
        .project__details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          &__label {
            @include font-style(18px, bold, 1.2, $color-accent);
            text-transform: uppercase;
          }
          &__value {
            @include font-style(16px, normal, 1.5, $color-secondary);
          }
        }
      }
      .project__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        &-title {
          @include font-style(23px, bold, 1.3, $color-primary);
          font-family: $font-secondary;
        }
        &-text {
          @include font-style(16px, 500, 2, $color-secondary);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .project {
    .container {
      width: 92%;
      gap: 30px;
      .project__title {
        @include font-style(22px, bold, 1.3, $color-title);
      }
      .wrapper {
        flex-direction: column;
        gap: 15px;

        .project__info {
          flex-direction: row;
          justify-content: center;
          max-width: 100%;
          align-items: flex-start;
          gap: 10px;
          padding: 2px;
          .project__details {
            align-items: flex-start;
            justify-content: center;
            &__label {
              @include font-style(15px, bold, 1.2, $color-accent);
              text-transform: uppercase;
            }
            &__value {
              @include font-style(13px, normal, 1.5, $color-secondary);
            }
          }
        }
        .project__description {
          gap: 10px;
          &-title {
            @include font-style(19px, bold, 1.3, $color-primary);
            font-family: $font-secondary;
          }
          &-text {
            @include font-style(14px, 500, 2, $color-secondary);
          }
        }
      }
    }
  }
}

// section 2
.carousel {
  max-width: 1200px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  gap: 50px;

  &__title {
    h2 {
      font-family: "Georgia", serif;
      font-style: italic;
      text-align: center;
      @include font-style(25px, 500, 1.2, $color-title);
    }
  }

  .container {
    max-width: 1200px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .carousel__big {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 15px;
      flex-wrap: wrap; /* Allow items to wrap on smaller screens */

      &__item {
        width: 48%; /* Make sure big items fit in two per row */
        height: 323px;
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .carousel__small {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 5px;
      //   flex-wrap: wrap; /* Allow small items to wrap into rows */

      &__item {
        width: 265px;
        height: 265px;
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    .container {
      width: 92%;
      gap: 15px;

      .carousel__big {
        // flex-direction: column;
        justify-content: center;
        gap: 15px; /* Adjust gap for smaller screen */

        &__item {
          width: 265px; /* Ensure big items are full width on mobile */
          height: 265px; /* Match small item height */
        }
      }

      .carousel__small {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px; /* Adjust gap for smaller screen */

        &__item {
          width: 265px; /* Two items per row */
          height: 265px; /* Keep the fixed height */
        }
      }
    }
  }
}

// image modal
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 60px;

  .modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 700px;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
