@import "variables";
@import "mixins";
@import "typography";

body {
  width: 100%;
  background-color: $accent-color;
}
section {
  max-width: 1370px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
li {
  list-style: none;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: lighten($primary-color, 20%);
  }
}

nav {
  width: 100%;
  height: auto;
  background-color: rgba($secondary-color, 0.8); // Solid background initially
  color: $primary-color;
  position: fixed; // Make it stay at the top
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;

  &.scrolled {
    background-color: $secondary-color; // Semi-transparent
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  @include display(flex, center, space-between);
  // padding: 20px 30px;
  position: relative;
}

@include respond-to() {
  .container {
    width: 92%;
    justify-content: space-between;
  }
}

.site-logo {
  img {
    width: 250px;
    height: 70px;
    object-fit: contain;
  }
}

@include respond-to() {
  .site-logo {
    img {
      width: 215px;
      height: 60px;
    }
  }
}

.nav-menu {
  @include display(flex, center, center);
  gap: 1rem;
  .nav-menu__item {
    .navlinks {
      transition: all 0.3s ease-in-out;
      @include typography(1.2rem);
    }
  }
}

@include respond-to() {
  .nav-menu {
    background-color: $secondary-color;
    color: $primary-color;
    max-width: 768px;
    width: 100%;
    height: auto;
    @include display(flex, flex-start, flex-start, column, nowrap);
    position: absolute;
    top: -1000px;
    left: 0;
    transition: all 0.3s ease-in-out;
    &.show {
      top: 95px;
    }
  }
}

.hamburger-menu {
  display: none !important;
  all: unset;
  cursor: pointer;
  .ham-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: $primary-color;
    transition: all 0.3s ease-in-out;
  }
}

@include respond-to() {
  .hamburger-menu {
    display: block !important;
  }
}

.btn {
  @include typography(1.2rem);
  margin: 20px 0;
  padding: 10px 20px;
  background-color: $secondary-color;
  border: 2px solid $primary-color;
  border-radius: 20px;
  color: $primary-color;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    background-color: $primary-color;
    color: $secondary-color;
  }
  &:active {
    transform: scale(0.98);
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.mobile_only {
  display: none;
}
@include respond-to() {
  .mobile_only {
    display: block;
  }
  #nav-btn {
    display: none;
  }
}

// Hero Section
.hero-section {
  &__overlay {
    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      font-size: 1.2rem;
      margin: 10px 0;
      width: 60%;
    }

    .btn {
      margin-top: 15px;
      padding: 12px 24px;
    }
  }
}
// info section
.info-section {
  max-width: 1370px;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 20px auto;
  background: url("../uploads/dist-background-long.jpg") no-repeat center/cover;

  .container {
    @include display(flex, center, center, column);

    .alternating-content {
      @include display(flex, center, space-between);

      &__text {
        width: 48%;
      }
      &__image {
        width: 50%;
        height: 450px;
        overflow: hidden;
        border-radius: 20px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      &:nth-of-type(odd) {
        flex-direction: row-reverse;
      }
    }
  }
}

// Featured Weapons Section
.featured-weapons {
  padding: 50px 0;
  background: url("../uploads/killer-image.png") no-repeat center/contain;

  .container {
    @include display(flex, center, center, column);
  }

  .weapon-list {
    @include display(flex, flex-start, space-around, row, wrap);
    gap: 20px;
  }
  .featured-swiper {
    max-width: 900px;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  .weapon {
    max-width: 300px;
    text-align: center;

    img {
      width: 100%;
      max-height: 200px;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    h3 {
      margin-top: 10px;
      font-size: 1.5rem;
    }
  }
}

// events

.events {
  color: rgba($accent-color, 0.8);
  max-width: 1370px;
  width: 100%;
  padding: 15px;
  position: relative;
  background: linear-gradient(
      90deg,
      rgba(122, 122, 134, 0.397) 0%,
      rgba(34, 33, 33, 0.322) 40%,
      rgba(7, 7, 7, 0.842) 50%,

      #000000 100%
    ),
    url("../uploads/Swors-event-bg.jpg") center/cover no-repeat;

  background-size: cover;
  height: 500px;
  margin: 0 auto;
  // border-radius: 40px;
  @include display(flex, center, flex-end);

  .container {
    width: 50%;
    position: relative;
    margin: 0;
    @include display(flex, center, center, column, nowrap);

    &__label {
      color: $primary-color;
      @include typography(1rem);
    }
  }
  &__description {
    @include display(flex, flex-start, center);
    gap: 10px;
    &_date {
      width: 20%;
    }
    &__text {
      margin-top: 0.5rem;
      width: 78%;
    }
  }
}

.newsletter-subscription {
  max-width: 1370px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;

  // background: url("../uploads/testi__background.jpg") no-repeat center/cover;
  .container {
    @include display(flex, center, center, column);
    margin-top: 50px;
    .subscribe-wrapper {
      // padding: 20px;
      margin: 200px auto;
      margin-top: 0;
      border-radius: 25px;
      background-color: $primary-color;
      max-width: 600px;
      height: 50px;
      padding-left: 25px;
      @include display(flex, center, space-between);

      input[type="email"] {
        background-color: transparent;
        color: $dark-text;
        border: none;
        outline: none;
        margin: 2px 0;
        height: 80%;
        width: 70%;
        &:active,
        &:focus {
          border: none;
        }
      }

      input[type="submit"] {
        background-color: $white;
        color: $dark-text;
        border-radius: 25px;
        border: none;
        height: 100%;
        width: 30%;
      }
    }
  }

  // &::before {
  //   content: "";
  //   height: 64px;
  //   width: 100%;
  //   background: url("../uploads/bottom_dark.png");
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   position: absolute; /* Ensure it's positioned correctly */
  //   z-index: 10; /* Ensures it appears behind the content */
  // }
}
// Testimonials Section
.testimonials {
  padding: 50px 0;
  background: url("../uploads/Bacground-image-1.jpg") center/cover no-repeat;
  color: $dark-text;
  .container {
    max-width: 1200px;
    @include display(flex, center, center, column);
    text-align: center;
  }
  .testimonial__swiper {
    width: 100%;
    height: 350px;
    overflow: hidden;
    @include display(flex, center, center);
  }
  .swiper-wrapper {
    margin: 0 auto;
    .swiper-slide {
      @include display(flex, center, center);

      .testimonial {
        max-width: 600px;
        width: 100%;
        background: linear-gradient(
          to bottom right,
          $primary-color,
          $accent-color
        );
        border-radius: 10px;
        padding: 20px;
        margin: 10px 0;
        color: $dark-text;
        box-shadow: -5px 5px 10px rgba($secondary-color, 0.8);
      }
    }
  }
}

// footer
.site-footer {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  background-color: $secondary-color;
  color: $accent-color;
  padding: 40px 20px 20px;
  // margin-top: 150px;
  position: relative; /* Make sure the ::before pseudo-element is positioned relative to this container */

  &::before {
    content: ""; /* No text content, just an image */
    background: url("../uploads/Section-top.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px; /* Adjust the height to your desired value */
    z-index: 10; /* Ensures it is above everything else */
  }
  .container {
    @include display(flex, flex-start, space-between, row, wrap);
    max-width: 1200px;
    margin: 0 auto;

    .footer-column {
      flex: 1;
      min-width: 200px;
      margin: 20px 0;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        border-bottom: 2px solid $primary-color;
        padding-bottom: 5px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: $primary-color;
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
              color: lighten($primary-color, 20%);
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid $light-text;
    margin-top: 20px;
    font-size: 1rem;

    p {
      margin: 0;
      color: $light-text;
    }
  }
}
