@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
  }
}

h2 {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.2;
  }
}

h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 768px) {
  h3 {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.1;
  }
}

h4 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 768px) {
  h4 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.1;
  }
}

h5 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1;
}
@media (max-width: 768px) {
  h5 {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
  }
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 768px) {
  h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 768px) {
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
}

small {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
@media (max-width: 768px) {
  small {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #ffffff;
}

.top-nav {
  background-color: #123985;
}
.top-nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  height: auto;
  padding: 5px;
}
.top-nav .content-wrapper .top-nav__contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.top-nav .content-wrapper .top-nav__contacts small {
  font-weight: 700;
}
.top-nav .content-wrapper .top-nav__contacts .top-nav__contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.top-nav .content-wrapper .top-nav__contacts .top-nav__contacts-link .top-nav__call {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.top-nav .content-wrapper .top-nav__contacts .top-nav__contacts-link .top-nav__news {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav .content-wrapper .top-nav__contacts .top-nav__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.top-nav .content-wrapper .top-nav__contacts .top-nav__social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav .content-wrapper .top-nav__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background-color: #2a4d91;
  border: 2px solid #3f5f9c;
  padding: 7px 15px;
}
.top-nav .content-wrapper .top-nav__search img {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .top-nav .content-wrapper {
    padding: 10px 20px;
    margin: 0;
    width: 100%;
  }
  .top-nav .content-wrapper .top-nav__contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .top-nav .content-wrapper .top-nav__contacts small {
    font-size: 14px;
  }
  .top-nav .content-wrapper .top-nav__contacts .top-nav__contacts-link {
    justify-content: bottom;
  }
  .top-nav .content-wrapper .top-nav__search {
    justify-content: center;
    padding: 7px 7px;
  }
  .top-nav .content-wrapper .top-nav__search input {
    display: none;
  }
}
.bottom-nav {
  background-color: #ffffff;
}
.bottom-nav .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  color: #161748;
  padding: 5px;
}
.bottom-nav .content-wrapper .site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.bottom-nav .content-wrapper .hamburger-menu {
  display: none;
}
.bottom-nav .content-wrapper .hamburger-menu .bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  background-color: #ff1c9d;
  transition: all 0.3s ease-in-out;
}
.bottom-nav .content-wrapper .nav-menu .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-nav .content-wrapper .nav-menu .nav-links .mobile-only {
  display: none;
}
.bottom-nav .content-wrapper .nav-menu li {
  font-size: 16px;
  padding: 0 15px;
}
.bottom-nav .content-wrapper .nav-menu li:not(:last-child) {
  border-right: 1px dotted #123985;
}

@media (max-width: 768px) {
  .bottom-nav {
    background-color: #ffffff;
  }
  .bottom-nav .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 17px;
    width: 100%;
  }
  .bottom-nav .content-wrapper .site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .bottom-nav .content-wrapper .site-logo #debate-logo {
    width: 131.71px;
    height: 32px;
  }
  .bottom-nav .content-wrapper .site-logo #corporate-logo {
    width: 60.2px;
    height: 14px;
  }
  .bottom-nav .content-wrapper .site-logo small {
    font-size: 12px;
    white-space: nowrap;
  }
  .bottom-nav .content-wrapper .hamburger-menu {
    display: block;
  }
  .bottom-nav .content-wrapper .hamburger-menu:active .bar:nth-child(2) {
    opacity: 0;
  }
  .bottom-nav .content-wrapper .hamburger-menu:active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .bottom-nav .content-wrapper .hamburger-menu:active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .bottom-nav .content-wrapper .nav-menu {
    display: flex;
    position: fixed;
    left: 100%;
    top: 142px;
    right: 0;
    bottom: 0;
    height: calc(100vh - 142px);
    width: 100%;
    background-color: #fcbae0;
    z-index: 10;
    transition: left 0.3s ease-in-out;
  }
  .bottom-nav .content-wrapper .nav-menu.show {
    left: 0;
  }
  .bottom-nav .content-wrapper .nav-menu .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    text-align: left;
    padding: 30px;
  }
  .bottom-nav .content-wrapper .nav-menu .nav-links li {
    font-size: 30px;
    font-weight: bold;
    border-right: none;
  }
  .bottom-nav .content-wrapper .nav-menu .nav-links .mobile-only {
    display: block;
  }
  .bottom-nav .content-wrapper .hamburger-menu {
    cursor: pointer;
  }
  .bottom-nav .content-wrapper .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .bottom-nav .content-wrapper .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .bottom-nav .content-wrapper .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .bottom-nav .content-wrapper body.no-scroll {
    overflow: hidden;
  }
}
@media (max-width: 1042px) {
  .nav-menu li {
    font-size: 14px;
  }
}
.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 638px;
  width: 100%;
  overflow: hidden;
}
.hero-section .hero-section__banner {
  background: linear-gradient(270deg, rgba(22, 23, 72, 0.5) 30.07%, #000000 100%), url("../uploads/hero-section__banner.png") center/cover no-repeat;
  position: absolute;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hero-section .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}
.hero-section .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  max-width: 650px;
  gap: 20px;
}
.hero-section .content-wrapper .hero-section__sub-header h5 {
  font-weight: 400;
}
.hero-section .content-wrapper .hero-section__btn {
  display: flex;
  justify-content: left;
  align-items: center;
}
.hero-section .content-wrapper .hero-section__btn .btn {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #ff1c9d;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 40px;
  border: 2px solid #ffffff;
  transition: transform 0.2s ease;
  gap: 10px;
  padding: 12px 24px;
  line-height: 100%;
  gap: 20px;
}
.hero-section .content-wrapper .hero-section__btn .btn:hover {
  background-color: #ffffff;
  color: #ff1c9d;
  transform: scale(1.05);
  border: 2px solid #ff1c9d;
}
.hero-section .content-wrapper .hero-section__btn .btn:active {
  background-color: #ffffff;
  color: #ff1c9d;
  border: 2px solid #ff1c9d;
  transform: scale(0.98);
}
.hero-section .hero-section__slider-visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 10px;
  max-width: 510px;
  width: 100%;
  flex-direction: column;
}
.hero-section .hero-section__slider-visualizer .progress-bar__wrapper {
  width: 100%;
  height: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero-section .hero-section__slider-visualizer .progress-bar__wrapper .progress-bar__container {
  max-width: 160px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.hero-section .hero-section__slider-visualizer .progress-bar__wrapper .progress-bar__container .progress-bar {
  width: 70%;
  height: 100%;
  background-color: #ff1c9d;
}
.hero-section .hero-section__slider-visualizer .slider-info__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.hero-section .hero-section__slider-visualizer .slider-info__wrapper .slider-info__text {
  max-width: 160px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .hero-section {
    height: 575px;
  }
  .hero-section .container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: bottom;
    gap: 40px;
    padding-bottom: 0;
  }
  .hero-section .container h5 {
    line-height: 160%;
  }
  .hero-section .container .hero-section__btn {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .hero-section .container .hero-section__btn .btn {
    padding: 12px 40px;
    line-height: 100%;
    gap: 20px;
  }
  .hero-section .container .hero-section__slider-visualizer {
    align-self: center;
    gap: 20px;
    position: relative;
    padding: 10px 0;
  }
  .hero-section .container .hero-section__slider-visualizer .bg-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background-color: #000000;
    z-index: 5;
    padding: 0 50px;
  }
  .hero-section .container .hero-section__slider-visualizer .progress-bar__wrapper {
    z-index: 6;
  }
  .hero-section .container .hero-section__slider-visualizer .progress-bar__wrapper .progress-bar__container {
    height: 4px;
    background: rgba(255, 255, 255, 0.15);
  }
  .hero-section .container .hero-section__slider-visualizer .slider-info__text {
    z-index: 6;
    font-size: 12px;
    line-height: 140%;
    max-width: 123px;
    width: 100%;
    height: auto;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  padding: 15px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.fancy-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #17293e;
  height: 914px;
  position: relative;
}
.fancy-info__background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(179.28deg, rgba(255, 255, 255, 0) 0.62%, rgba(255, 255, 255, 0.97) 46.31%, #ffffff 99.38%), url("../uploads/fancy-info__background.jpg") top left/contain no-repeat;
}
.fancy-info #fancy-info__container {
  position: relative;
  flex-direction: column;
  gap: 40px;
  z-index: 2;
}
.fancy-info #fancy-info__container .fancy-info__content {
  max-width: 870px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-direction: column;
  text-align: center;
}
.fancy-info #fancy-info__container .fancy-info__content__label h6 {
  font-size: 16px;
  font-weight: 900;
  line-height: 1.1;
  color: #4c5175;
}
.fancy-info #fancy-info__container .fancy-info__content__text {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.1;
  color: #4c5175;
}
.fancy-info #fancy-info__container .fancy-info__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1170px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.fancy-info #fancy-info__container .fancy-info__card-item {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  background-color: #f8f8fa;
  max-width: 376px;
  width: 100%;
  height: 320px;
  padding: 40px 30px;
  border-radius: 25px;
  border: 2px solid rgba(13, 41, 88, 0.1);
  transition: all 0.3s ease-in-out;
}
.fancy-info #fancy-info__container .fancy-info__card-item:hover {
  transform: scale(1.02);
  box-shadow: -5px 5px 10px #ff1c9d;
}
.fancy-info #fancy-info__container .fancy-info__card-item__icon {
  align-self: flex-start;
}
.fancy-info #fancy-info__container .fancy-info__card-item__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.1;
}
.fancy-info #fancy-info__container .fancy-info__card-item__text {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
}
.fancy-info #fancy-info__container .fancy-info__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-info #fancy-info__container .fancy-info__btn .btn {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #ffffff;
  color: #ff1c9d;
  padding: 12px 24px;
  border-radius: 40px;
  border: 2px solid #ff1c9d;
  transition: transform 0.2s ease;
  gap: 10px;
  padding: 12px 24px;
  line-height: 100%;
}
.fancy-info #fancy-info__container .fancy-info__btn .btn:hover {
  background-color: #ff1c9d;
  color: #ffffff;
  transform: scale(1.05);
  border: 2px solid #ffffff;
}
.fancy-info #fancy-info__container .fancy-info__btn .btn:active {
  background-color: #ff1c9d;
  color: #ffffff;
  border: 2px solid #ffffff;
  transform: scale(0.98);
}

.coaching-team {
  max-width: 1400px;
  background-color: #ff1c9d;
}
.coaching-team .container {
  justify-content: left;
  flex-direction: column;
}
.coaching-team .container .coaching-team__top {
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  max-width: 1200px;
  width: 100%;
}
.coaching-team .container .coaching-team__top .coaching-team__label {
  max-width: 630px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.coaching-team .container .coaching-team__top .coaching-team__label__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
}
.coaching-team .container .coaching-team__top .coaching-team__label__text__link {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  color: #ff1c9d;
  text-decoration: underline;
}
.coaching-team .container .coaching-team__top .coaching-team__navigation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  width: 90%;
}
.coaching-team .container .coaching-team__top .coaching-team__navigation .coaching-team__navigation__btn-wrapper {
  display: flex;
  gap: 10px;
}
.coaching-team .container .coaching-team__top .coaching-team__navigation .custom-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff1c9d;
  border-radius: 50%;
  cursor: pointer;
}
.coaching-team .container .coaching-team__top .coaching-team__navigation .custom-btn:hover {
  background-color: #e60087;
}
.coaching-team .container .coaching-team__bottom {
  max-width: 1170px;
  width: 100%;
}
.coaching-team .container .coaching-team__bottom .swiper {
  max-width: 1170px;
  width: 100%;
  margin: 15px;
  height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coaching-team .container .coaching-team__bottom .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.coaching-team .container .coaching-team__bottom .swiper .swiper-wrapper .swiper-slide img {
  border-radius: 15px;
  width: 282px;
  height: 320px;
  object-fit: cover;
}
.coaching-team .container .coaching-team__bottom .swiper .swiper-wrapper .swiper-slide .coaching-team__slider__item__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 1;
  text-align: left;
}
.coaching-team .container .coaching-team__bottom .swiper .swiper-wrapper .swiper-slide .coaching-team__slider__item__label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}

@media (max-width: 768px) {
  .coaching-team .coaching-team__top .coaching-team__navigation {
    display: none;
  }
  .coaching-team .coaching-team__top .coaching-team__navigation .coaching-team__navigation__btn-wrapper {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
