@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

/* Heading Styles */
h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 46px;
    line-height: 55.2px;
    letter-spacing: -2px;
}
@media (max-width: 768px){
    h2{
        font-size: 36px;
        line-height: 43.6px;
        letter-spacing: 0;
    }
}
p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
@media (max-width:768px){
    p {
        font-size: 11px;
        line-height: 20px;
    }
}
.contact-block__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 38px;
    position: relative;
    border-radius: 40px;
  }
  .contact-block__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/bgpeople.jpg");
    background-size: cover;
    background-position: center;
    z-index: 8;
    border-radius: 40px;
  }
  .contact-block__overlay {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(18, 57, 133, 0.5) 50%, #17293E 100%);
    border-radius: 40px;
  }
  
  .contact-block__content {
    min-height:410px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    gap: 20px;
  }
  .contact-block__btn{
    background-color: #ff1c9d; 
    color: #ffffff; 
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .contact-block__btn:hover {
    background-color:#ffffff; 
    color: #ff1c9d;
    transform: scale(1.05);
    border:2px solid #ff1c9d;
}

.contact-block__btn:active {
    background-color:#ffffff; 
    color: #ff1c9d; 
    border:2px solid #ff1c9d;
    transform: scale(0.98);
}
@media (max-width:768px){
    .contact-block__btn {
        padding: 10px 24px;
        font-size: 11px;
        line-height: 20px;
    }
}
.contact-block__btn__img{
    width: 24px;
    height: 18px;
    margin-left: 8px;
    vertical-align: middle;
}
.contact-block__title{
    text-align: center;
    color:#ffffff;
}
.contact-block__text{
    text-align: center;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}