@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.1;
  }
}

h2 {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.2;
}
@media (max-width: 768px) {
  h2 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.2;
  }
}

h3 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 768px) {
  h3 {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.1;
  }
}

h4 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 768px) {
  h4 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.1;
  }
}

h5 {
  font-size: 20px;
  font-weight: 900;
  line-height: 1;
}
@media (max-width: 768px) {
  h5 {
    font-size: 18px;
    font-weight: 900;
    line-height: 1;
  }
}

h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
@media (max-width: 768px) {
  h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 768px) {
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
}

span {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}
@media (max-width: 768px) {
  span {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
  }
}

body {
  width: 100%;
  background-color: #f2e0c8;
}

section {
  max-width: 1370px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #bd8d4c;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: rgb(216.4775510204, 188.4612244898, 150.5224489796);
}

nav {
  width: 100%;
  height: auto;
  background-color: rgba(14, 13, 18, 0.8);
  color: #bd8d4c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}
nav.scrolled {
  background-color: #0e0d12;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    width: 92%;
    justify-content: space-between;
  }
}
.site-logo img {
  width: 250px;
  height: 70px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .site-logo img {
    width: 215px;
    height: 60px;
  }
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav-menu .nav-menu__item .navlinks {
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .nav-menu {
    background-color: #0e0d12;
    color: #bd8d4c;
    max-width: 768px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: -1000px;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav-menu.show {
    top: 95px;
  }
}
.hamburger-menu {
  display: none !important;
  all: unset;
  cursor: pointer;
}
.hamburger-menu .ham-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px auto;
  background-color: #bd8d4c;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block !important;
  }
}
.btn {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #0e0d12;
  border: 2px solid #bd8d4c;
  border-radius: 20px;
  color: #bd8d4c;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.05);
  background-color: #bd8d4c;
  color: #0e0d12;
}
.btn:active {
  transform: scale(0.98);
  background-color: #bd8d4c;
  color: #0e0d12;
}

.mobile_only {
  display: none;
}

@media (max-width: 768px) {
  .mobile_only {
    display: block;
  }
  #nav-btn {
    display: none;
  }
}
.hero-section__overlay h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero-section__overlay p {
  font-size: 1.2rem;
  margin: 10px 0;
  width: 60%;
}
.hero-section__overlay .btn {
  margin-top: 15px;
  padding: 12px 24px;
}

.info-section {
  max-width: 1370px;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: 20px auto;
  background: url("../uploads/dist-background-long.jpg") no-repeat center/cover;
}
.info-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info-section .container .alternating-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-section .container .alternating-content__text {
  width: 48%;
}
.info-section .container .alternating-content__image {
  width: 50%;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
}
.info-section .container .alternating-content__image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.info-section .container .alternating-content:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.featured-weapons {
  padding: 50px 0;
  background: url("../uploads/killer-image.png") no-repeat center/contain;
}
.featured-weapons .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.featured-weapons .weapon-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.featured-weapons .featured-swiper {
  max-width: 900px;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.featured-weapons .weapon {
  max-width: 300px;
  text-align: center;
}
.featured-weapons .weapon img {
  width: 100%;
  max-height: 200px;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.featured-weapons .weapon h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.events {
  color: rgba(242, 224, 200, 0.8);
  max-width: 1370px;
  width: 100%;
  padding: 15px;
  position: relative;
  background: linear-gradient(90deg, rgba(122, 122, 134, 0.397) 0%, rgba(34, 33, 33, 0.322) 40%, rgba(7, 7, 7, 0.842) 50%, #000000 100%), url("../uploads/Swors-event-bg.jpg") center/cover no-repeat;
  background-size: cover;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.events .container {
  width: 50%;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.events .container__label {
  color: #bd8d4c;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}
.events__description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.events__description_date {
  width: 20%;
}
.events__description__text {
  margin-top: 0.5rem;
  width: 78%;
}

.newsletter-subscription {
  max-width: 1370px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.newsletter-subscription .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.newsletter-subscription .container .subscribe-wrapper {
  margin: 200px auto;
  margin-top: 0;
  border-radius: 25px;
  background-color: #bd8d4c;
  max-width: 600px;
  height: 50px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter-subscription .container .subscribe-wrapper input[type=email] {
  background-color: transparent;
  color: #04070a;
  border: none;
  outline: none;
  margin: 2px 0;
  height: 80%;
  width: 70%;
}
.newsletter-subscription .container .subscribe-wrapper input[type=email]:active, .newsletter-subscription .container .subscribe-wrapper input[type=email]:focus {
  border: none;
}
.newsletter-subscription .container .subscribe-wrapper input[type=submit] {
  background-color: #ffffff;
  color: #04070a;
  border-radius: 25px;
  border: none;
  height: 100%;
  width: 30%;
}

.testimonials {
  padding: 50px 0;
  background: url("../uploads/Bacground-image-1.jpg") center/cover no-repeat;
  color: #04070a;
}
.testimonials .container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.testimonials .testimonial__swiper {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .swiper-wrapper {
  margin: 0 auto;
}
.testimonials .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .swiper-wrapper .swiper-slide .testimonial {
  max-width: 600px;
  width: 100%;
  background: linear-gradient(to bottom right, #bd8d4c, #f2e0c8);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  color: #04070a;
  box-shadow: -5px 5px 10px rgba(14, 13, 18, 0.8);
}

.site-footer {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  background-color: #0e0d12;
  color: #f2e0c8;
  padding: 40px 20px 20px;
  position: relative; /* Make sure the ::before pseudo-element is positioned relative to this container */
}
.site-footer::before {
  content: ""; /* No text content, just an image */
  background: url("../uploads/Section-top.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px; /* Adjust the height to your desired value */
  z-index: 10; /* Ensures it is above everything else */
}
.site-footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.site-footer .container .footer-column {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}
.site-footer .container .footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #bd8d4c;
  padding-bottom: 5px;
}
.site-footer .container .footer-column ul {
  list-style: none;
  padding: 0;
}
.site-footer .container .footer-column ul li {
  margin-bottom: 10px;
}
.site-footer .container .footer-column ul li a {
  color: #bd8d4c;
  text-decoration: none;
  transition: color 0.3s ease;
}
.site-footer .container .footer-column ul li a:hover {
  color: rgb(216.4775510204, 188.4612244898, 150.5224489796);
}
.site-footer .footer-bottom {
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid #4c5175;
  margin-top: 20px;
  font-size: 1rem;
}
.site-footer .footer-bottom p {
  margin: 0;
  color: #4c5175;
}

/*# sourceMappingURL=main.css.map */
